<div class="main-container">
  <h1>The Qubes Game</h1>

  <div class="game-container">
    <div class="game-field-container">
      <app-play-field></app-play-field>
    </div>

    <div class="game-side-container">
      <div class="score">
        <h2>Score
          <span class="user-score">{{score.user}}</span> :
          <span class="comp-score">{{score.computer}}</span>
        </h2>
      </div>
      <div class="timer">
        <label for="timer-input">Timer, ms <sup><small>(500-30000)</small></sup></label>
        <input type="number"
               class="timer-input"
               name="timer"
               [ngClass]="{'invalid': timerInput.invalid}"
               [formControl]="timerInput"
               id="timer-input">
      </div>
      <button type="button"
              [disabled]="timerInput.invalid"
              (click)="gameButtonClicked()">{{buttonText()}}</button>
    </div>
  </div>
</div>
