/* styling variables */
:root {
  --yellow: #E9BE00;
  --red: #94001C;
  --blue: #1D3C6C;
  --green: #298210;
  --modal-backdrop-blue: #09121fcc;
  --bg-dark-blue: #09121F;
  --border-blue: #0E1C2F;
  --bg-blue: #112238;
  --white: #f8f8ff;
  --black: #050910;
  --blue-gray: #92B3DD;
  --border-radius: 16px;
  --border-width: 2px;
  --default-spacing: 1rem;
}

/* global styles */
html {
  width: 100%;
  height: 100%;
  color: var(--white);
}

body {
  display: block;
  position: relative;
  margin: 0;
  background-color: var(--bg-dark-blue);
  font: 1.4em "Verdana", sans-serif;
}

button {
  cursor: pointer;
  margin: var(--default-spacing);
  padding: var(--default-spacing);
  font-size: var(--default-spacing);
  font-weight: bold;
  background-color: var(--yellow);
  color: var(--black);
  border: var(--border-width) solid var(--border-blue);
  border-radius: var(--border-radius);
}

button:active {
  border-color: var(--yellow);
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
small {
  font-size: 0.6rem;
}
